.input-label {
     display: flex;
     flex-direction: column;
   }
   
   .input-label span {
     margin-bottom: 5px;
     font-weight: bold;
     color: #333; /* Màu chữ của nhãn */
   }
   
   .input-label input {
     width: 80px; /* Độ rộng của ô input */
   }


  
   


/* ProductCard.css */
.product-card {
     position: relative;
     /* Các thuộc tính khác của card */
   
     /* Hiệu ứng khi hover */
     &:hover {
       /* Các thuộc tính hover của card */
   
       /* Hiển thị biểu tượng giỏ hàng khi hover */
       .cart-icon {
         opacity: 1;
       }
     }
   }
   
   /* Biểu tượng giỏ hàng ẩn đi ban đầu */
   .cart-icon {

     position: absolute;
     top: 10%;
   right: 10%;
     transform: translate(-50%, -50%);
     opacity: 0;
     transition: opacity 0.3s ease; /* Hiệu ứng hiển thị */
     cursor: pointer;
   }


/* styles.css */




.custom-image {
     width: 100%; /* Thay đổi chiều rộng của ảnh tương ứng */
     max-width: 100%; /* Tối đa chiều rộng của phần tử cha */
     height: auto; /* Duy trì tỷ lệ khung hình */
    margin-bottom: 50px;
   }
   

:root {
     --margin-container: 80px;
}

.container {
     width: 100%;
}

@media (min-width: 640px) {
     .container {
          max-width: calc(640px - var(--margin-container));
     }
}

@media (min-width: 768px) {
     .container {
          max-width: calc(768px - var(--margin-container));
     }
}

@media (min-width: 1024px) {
     .container {
          max-width: calc(1024px - var(--margin-container));
     }
}

@media (min-width: 1280px) {
     .container {
          max-width: calc(1280px - var(--margin-container));
     }
}

@media (min-width: 1536px) {
     .container {
          max-width: calc(1536px - var(--margin-container));
     }
}

